
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    margin-top: -20px;
    font: 12px sans-serif;
    background: #ddd;
    pointer-events: none;
  }

.tile:hover{
    fill: #F1DD1D;
    border: 3px solid white ;
}

.tileText{
    font: 10px sans-serif;
}

#legend{
    font: 12px sans-serif;
}